<% if @todo.errors.any? %>
  <h2>The Following Errors prevented the todo from being saved:</h2>
  <ul>
  <% @todo.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>
<h1>Create a new To Do</h1>

<%= render "todos/form" %>

<%= link_to "Back to todos listing", todos_path %>
